*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
}

body {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: rgb(217, 180, 117);
}

.wrapper {
	width: 500px;
	height: 600px;
	/* border: 2px solid red; */
	box-shadow: 0 0 10px rgb(0, 0, 0);
	background-color: #fff;
}

.top {
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* background-color: lightblue; */
	background-color: rgb(210, 142, 14);
}

.title {
	font-size: 3rem;
	text-transform: uppercase;
	color: #fff;
}

.text {
	font-size: 1.6rem;
	padding-top: 0.5em;
	color: #fff;
}

.down {
	display: flex;
	flex-direction: column;
	padding: 3em;
}

.label {
	padding: 1em 0 0.5em 0;
	font-size: 1.8rem;
}

input,
select {
	padding: 0.25em;
	font-size: 1.8rem;
}

.calculate {
	margin: 2em auto;
	/* width: 60%; */
	width: 100%;
	padding: 0.75em 1.5em;
	font-size: 1.6rem;
	background-color: rgb(210, 142, 14);
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.calculate:hover {
	background-color: rgb(210, 142, 14);
}

.info,
.error {
	text-align: center;
	font-size: 2rem;
}

.icon {
	position: absolute;
	width: 20%;
	opacity: 0.2;
	z-index: -1;
}

.icon-burger {
	top: 5%;
	left: 5%;
	animation: rotate 10s linear infinite, burgerAnimation 10s linear infinite;
}

.icon-pizza {
	top: 10%;
	left: 95%;
	animation: secondRotate 10s linear infinite,
		pizzaAnimation 10s linear infinite;
}

.icon-fish {
	top: 90%;
	left: 80%;
	animation: rotate 10s linear infinite, fishAnimation 10s linear infinite;
}

.icon-wine {
	top: 80%;
	left: 15%;
	animation: secondRotate 10s linear infinite, wineAnimation 10s linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes secondRotate {
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes burgerAnimation {
	25% {
		top: 15%;
		left: 80%;
	}
	50% {
		top: 85%;
		left: 45%;
	}
	75% {
		top: 50%;
		left: 10%;
	}
	100% {
		top: 5%;
		left: 5%;
	}
}

@keyframes pizzaAnimation {
	25% {
		top: 75%;
		left: 70%;
	}
	50% {
		top: 65%;
		left: 25%;
	}
	75% {
		top: 68%;
		left: 55%;
	}
	100% {
		top: 10%;
		left: 95%;
	}
}

@keyframes wineAnimation {
	25% {
		top: 35%;
		left: 80%;
	}
	50% {
		top: 15%;
		left: 45%;
	}
	75% {
		top: 88%;
		left: 65%;
	}
	100% {
		top: 80%;
		left: 15%;
	}
}

@keyframes fishAnimation {
	25% {
		top: 15%;
		left: 50%;
	}
	50% {
		top: 45%;
		left: 5%;
	}
	75% {
		top: 88%;
		left: 3 infinite0%;
	}
	100% {
		top: 90%;
		left: 80%;
	}
}
